!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Ignorar todos los directorios de compilación (incluyendo subdirectorios de proyectos hijo) ###
build/
**/build/
**/out/
**/target/

### Ignorar todos los archivos de compilación ###
*.class
*.war
*.ear

### Ignorar .gradle directory (también sen subdirectorios) ###
.gradle
**/.gradle

### Ignorar: *.iml
             #.gradle
             #/local.properties
             #/.idea/caches
             #/.idea/libraries
             #/.idea/modules.xml
             #/.idea/workspace.xml
             #/.idea/navEditor.xml
             #/.idea/assetWizardSettings.xml
             #.DS_Store
             #/build
             #/captures
             #.externalNativeBuild
             #.cxx
             #local.properties
                # en subdirectorios ###

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties



*.iml
**/.gradle
**/local.properties
**/.idea/caches
**/.idea/libraries
**/.idea/modules.xml
**/.idea/workspace.xml
**/.idea/navEditor.xml
**/.idea/assetWizardSettings.xml
**/.DS_Store
**/build
**/captures
**/.externalNativeBuild
**/.cxx
**/local.properties

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store